/**************IMPORTS**************/
/*  SCRUMBE COLORS  */
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("/assets/fonts/proximanova-regular-webfont.eot");
  src: url("/assets/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanova-regular-webfont.woff") format("woff"), url("/assets/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("/assets/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("/assets/fonts/proximanova-bold-webfont.eot");
  src: url("/assets/fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanova-bold-webfont.woff") format("woff"), url("/assets/fonts/proximanova-bold-webfont.ttf") format("truetype"), url("/assets/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novalight';
  src: url("/assets/fonts/proximanova-light-webfont.eot");
  src: url("/assets/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanova-light-webfont.woff") format("woff"), url("/assets/fonts/proximanova-light-webfont.ttf") format("truetype"), url("/assets/fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedSBd';
  src: url("/assets/fonts/proximanovacond-semibold-webfont.eot");
  src: url("/assets/fonts/proximanovacond-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanovacond-semibold-webfont.woff") format("woff"), url("/assets/fonts/proximanovacond-semibold-webfont.ttf") format("truetype"), url("/assets/fonts/proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd") format("svg");
  font-weight: normal;
  font-style: normal; }
/*  GENERAL CSS */
body {
  width: 100%;
  height: 100%;
  background-color: white; }

nav {
  width: 100%;
  text-align: right;
  height: 80px;
  position: absolute;
  z-index: 10; }
  nav .wrapper-nav {
    max-width: 960px;
    position: relative;
    margin: 0 auto; }
    nav .wrapper-nav li {
      position: relative;
      line-height: 80px;
      cursor: default; }
      nav .wrapper-nav li a, nav .wrapper-nav li span {
        font-family: 'proxima_nova_rgbold';
        font-size: 0.6875rem;
        color: #b1bad0;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer; }
        nav .wrapper-nav li a img, nav .wrapper-nav li span img {
          vertical-align: middle;
          height: 40px; }
      nav .wrapper-nav li a:nth-child(n+2), nav .wrapper-nav li span {
        margin-left: 35px;
        padding: 10px 0; }
      nav .wrapper-nav li a:nth-child(n+2):hover, nav .wrapper-nav li span:hover {
        color: white; }
      nav .wrapper-nav li .pull-left {
        position: absolute;
        left: 0; }
      nav .wrapper-nav li .button-green {
        background-color: #6ecf7b;
        border-radius: 2px;
        padding: 10px 20px !important;
        color: white !important; }
      nav .wrapper-nav li .button-green:hover {
        background-color: #4e9b56; }

.black-nav {
  background-color: #121a1f; }

footer {
  width: 100%;
  background-color: black;
  height: 80px; }
  footer .wrapper-nav {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    text-align: right; }
    footer .wrapper-nav li {
      position: relative;
      line-height: 80px;
      cursor: default; }
      footer .wrapper-nav li a {
        font-family: 'proxima_nova_rgbold';
        font-size: 0.6875rem;
        color: #b1bad0;
        text-decoration: none;
        vertical-align: middle;
        margin-left: 35px;
        padding: 10px 0; }
        footer .wrapper-nav li a img {
          vertical-align: middle;
          height: 40px; }
      footer .wrapper-nav li a:hover {
        color: white; }
      footer .wrapper-nav li .copyright {
        font-size: 0.75rem;
        font-family: "proxima_nova_rgbold";
        color: #b1bad0;
        text-align: left;
        position: absolute;
        left: 0; }
      footer .wrapper-nav li span:last-child {
        font-family: 'proxima_nova_rgbold';
        font-size: 0.6875rem;
        color: #b1bad0;
        text-decoration: none;
        vertical-align: middle;
        margin-left: 35px;
        padding: 10px 0;
        position: relative;
        right: 0;
        cursor: pointer; }
      footer .wrapper-nav li span:last-child:hover {
        color: white; }

.trans-footer {
  background-color: #121a1f; }

.sign-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  z-index: 19;
  display: none;
  line-height: 699px; }

.sign-in {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  text-align: center;
  line-height: 699px;
  display: none; }
  .sign-in .container-sign-in {
    background-color: #fff;
    width: 420px;
    border-radius: 4px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    font-family: "Open Sans"; }
    .sign-in .container-sign-in .header-sign-in {
      background-color: #161e25;
      padding: 20px 30px;
      text-align: left;
      position: relative; }
      .sign-in .container-sign-in .header-sign-in span:first-child {
        font-weight: 700;
        font-size: 0.9375rem;
        color: #fff; }
      .sign-in .container-sign-in .header-sign-in span:last-child {
        position: absolute;
        right: 30px;
        text-decoration: none;
        color: #cdcdcd;
        font-family: "Open Sans";
        font-size: 1.25rem;
        font-weight: 800;
        cursor: pointer; }
    .sign-in .container-sign-in .contain-sign-in {
      padding: 30px;
      text-align: left; }
      .sign-in .container-sign-in .contain-sign-in form input:not([type="submit"]) {
        display: block;
        margin-bottom: 15px;
        width: 91.3%;
        padding: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border-radius: 2px;
        border: 1px solid #e8ebf0;
        background-color: #FBFCFE; }
      .sign-in .container-sign-in .contain-sign-in form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #6ECF7B;
        border: none;
        border-radius: 2px;
        font-family: "Open Sans";
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .sign-in .container-sign-in .contain-sign-in form input[type="submit"]:hover {
        background-color: #4e9b56;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .sign-in .container-sign-in .contain-sign-in a {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.6875rem; }
    .sign-in .container-sign-in .footer-sign-in {
      background-color: #f0f4fc;
      padding: 20px 30px;
      text-align: left; }
      .sign-in .container-sign-in .footer-sign-in span {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.6875rem; }
      .sign-in .container-sign-in .footer-sign-in .sign-up-lk {
        color: #5cad66;
        text-decoration: none;
        cursor: pointer; }

.sign-up {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  text-align: center;
  line-height: 699px;
  display: none; }
  .sign-up .container-sign-up {
    background-color: #fff;
    width: 420px;
    border-radius: 4px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    font-family: "Open Sans"; }
    .sign-up .container-sign-up .header-sign-up {
      background-color: #161e25;
      padding: 20px 30px;
      text-align: left;
      position: relative; }
      .sign-up .container-sign-up .header-sign-up span:first-child {
        font-weight: 700;
        font-size: 0.9375rem;
        color: #fff; }
      .sign-up .container-sign-up .header-sign-up span:last-child {
        position: absolute;
        right: 30px;
        text-decoration: none;
        color: #cdcdcd;
        font-family: "Open Sans";
        font-size: 1.25rem;
        font-weight: 800;
        cursor: pointer; }
    .sign-up .container-sign-up .contain-sign-up {
      padding: 30px;
      text-align: left; }
      .sign-up .container-sign-up .contain-sign-up form input:not([type="submit"]) {
        display: block;
        margin-bottom: 15px;
        width: 91.3%;
        padding: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border-radius: 2px;
        border: 1px solid #e8ebf0;
        background-color: #FBFCFE; }
      .sign-up .container-sign-up .contain-sign-up form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #6ECF7B;
        border: none;
        border-radius: 2px;
        font-family: "Open Sans";
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .sign-up .container-sign-up .contain-sign-up form input[type="submit"]:hover {
        background-color: #4e9b56;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .sign-up .container-sign-up .contain-sign-up span {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.6875rem; }
      .sign-up .container-sign-up .contain-sign-up .sign-in-lk {
        text-decoration: none;
        color: #5cad66;
        cursor: pointer; }
    .sign-up .container-sign-up .footer-sign-up {
      background-color: #f0f4fc;
      padding: 20px 30px;
      text-align: left; }
      .sign-up .container-sign-up .footer-sign-up span {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.6875rem; }
        .sign-up .container-sign-up .footer-sign-up span a {
          color: inherit; }

/*  HOME PAGE   */
.header-home {
  width: 100%;
  height: 0px;
  position: relative;
  z-index: 5;
  background-image: url("../img/header1.jpg");
  -webkit-background-size: cover;
  background-size: cover; }
  .header-home .wrapper-header {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: "Open Sans";
    color: white;
    line-height: 699px;
    height: 699px; }
    .header-home .wrapper-header .contain-title {
      vertical-align: middle;
      display: inline-block; }
      .header-home .wrapper-header .contain-title h1 {
        font-size: 2.625rem;
        font-weight: 300;
        line-height: normal; }
        .header-home .wrapper-header .contain-title h1 .openBold {
          font-weight: 700; }
      .header-home .wrapper-header .contain-title p {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: normal;
        margin: 20px auto 0 auto;
        width: 70%;
        position: relative;
        color: #b1bad0; }

.article-home {
  position: relative; }
  .article-home section {
    width: 100%;
    height: 350px;
    background-color: #f0f4fc;
    font-family: "Open Sans"; }
    .article-home section .wrapper-section {
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      line-height: 350px; }
      .article-home section .wrapper-section .contain-article {
        vertical-align: middle;
        display: inline-block;
        line-height: normal; }
        .article-home section .wrapper-section .contain-article h2 {
          font-weight: 300;
          font-size: 1.5625rem;
          color: #6c7180; }
          .article-home section .wrapper-section .contain-article h2 .openBold {
            font-weight: 700; }
        .article-home section .wrapper-section .contain-article p {
          color: #3d464d;
          font-size: 0.8125rem;
          margin-top: 15px;
          width: 400px;
          line-height: 22px; }
  .article-home .odd-section {
    background-color: white;
    text-align: right;
    height: 350px; }
    .article-home .odd-section p {
      right: 0; }
  .article-home .final-section {
    background: url("../img/section-footer.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover; }
    .article-home .final-section .wrapper-final {
      max-width: 960px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      line-height: 350px; }
      .article-home .final-section .wrapper-final .contain-final {
        vertical-align: middle;
        display: inline-block;
        line-height: normal;
        text-align: center;
        margin: 0 auto; }
        .article-home .final-section .wrapper-final .contain-final h2 {
          font-weight: 300;
          font-size: 2.1875rem;
          color: white; }
          .article-home .final-section .wrapper-final .contain-final h2 .openBold {
            font-weight: 700; }
        .article-home .final-section .wrapper-final .contain-final p {
          color: white;
          font-size: 0.8125rem;
          margin: 15px 0 40px 0;
          width: 600px;
          line-height: 20px; }
        .article-home .final-section .wrapper-final .contain-final .button-green {
          background-color: #6ecf7b;
          border-radius: 2px;
          padding: 15px 40px !important;
          color: white !important;
          font-size: 0.6875rem;
          font-family: 'proxima_nova_rgbold';
          text-decoration: none; }
        .article-home .final-section .wrapper-final .contain-final .button-green:hover {
          background-color: #4e9b56;
          cursor: pointer; }

/*  ABOUT US    */
.header-about {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 5; }
  .header-about .wrapper-header-fix {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: "proxima_novalight";
    color: white;
    line-height: 580px;
    height: 500px; }
    .header-about .wrapper-header-fix .contain-title-fix {
      vertical-align: middle;
      display: inline-block; }
      .header-about .wrapper-header-fix .contain-title-fix h1 {
        font-size: 2.3125rem;
        font-weight: 300;
        line-height: normal;
        color: #6c7180; }
        .header-about .wrapper-header-fix .contain-title-fix h1 .openBold {
          font-family: "proxima_nova_rgbold"; }
      .header-about .wrapper-header-fix .contain-title-fix p {
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 28px;
        margin: 20px auto 0 auto;
        width: 60%;
        position: relative;
        color: #636875; }

.article-about {
  position: relative; }
  .article-about .odd-section {
    background-color: #f5f8f9;
    width: 100%;
    height: 450px; }
    .article-about .odd-section .wrapper-section {
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      line-height: 450px;
      color: #6c7180;
      font-family: "Open Sans";
      font-weight: 300; }
      .article-about .odd-section .wrapper-section .contain-info {
        vertical-align: middle;
        display: inline-block;
        line-height: normal; }
        .article-about .odd-section .wrapper-section .contain-info h2 {
          font-size: 2.125rem; }
          .article-about .odd-section .wrapper-section .contain-info h2 .openBold {
            font-weight: 700; }
        .article-about .odd-section .wrapper-section .contain-info h3 {
          font-size: 1.0625rem;
          color: #5cad66;
          margin-top: 5px; }
        .article-about .odd-section .wrapper-section .contain-info p {
          line-height: 24px;
          font-size: 0.8125rem;
          width: 470px; }
        .article-about .odd-section .wrapper-section .contain-info .divider {
          width: 50px;
          height: 1px;
          background: #00c853;
          margin: 20px 0 17px 0; }
      .article-about .odd-section .wrapper-section img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 400px; }
  .article-about .section {
    background-color: #fff;
    width: 100%;
    height: 450px; }
    .article-about .section .wrapper-section {
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      line-height: 450px;
      color: #6c7180;
      font-family: "Open Sans";
      font-weight: 300;
      text-align: right; }
      .article-about .section .wrapper-section .contain-info {
        vertical-align: middle;
        display: inline-block;
        line-height: normal; }
        .article-about .section .wrapper-section .contain-info h2 {
          font-size: 2.125rem; }
          .article-about .section .wrapper-section .contain-info h2 .openBold {
            font-weight: 700; }
        .article-about .section .wrapper-section .contain-info h3 {
          font-size: 1.0625rem;
          color: #5cad66;
          margin-top: 5px; }
        .article-about .section .wrapper-section .contain-info p {
          line-height: 24px;
          font-size: 0.8125rem;
          width: 470px; }
        .article-about .section .wrapper-section .contain-info .divider {
          width: 50px;
          height: 1px;
          background: #00c853;
          margin: 20px 0 10px 0;
          display: inline-block; }
      .article-about .section .wrapper-section img {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 400px; }

.contact {
  text-align: center;
  background-color: #121a1f;
  padding-bottom: 90px; }
  .contact h1 {
    font-family: "proxima_nova_rgbold";
    font-size: 2.5rem;
    color: #fff;
    padding-top: 116px; }
  .contact p {
    color: #636875;
    font-size: 0.875rem;
    font-family: "Open Sans";
    font-weight: 300;
    width: 620px;
    line-height: 30px;
    margin: 25px auto; }
  .contact form {
    width: 700px;
    margin: 0 auto; }
    .contact form input:not([type="submit"]), .contact form textarea {
      display: block;
      margin: 15px auto;
      width: 450px;
      padding: 15px;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      border-radius: 2px;
      border: 1px solid #636875;
      background-color: #121a1f;
      font-size: 0.875rem;
      font-family: "Open Sans";
      font-weight: 300;
      color: #fff; }
    .contact form input:not([type="submit"]):focus, .contact form textarea:focus {
      border: 1px solid #fff; }
    .contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
      color: #636875; }
    .contact form input.placeholder, .contact form textarea.placeholder {
      color: #636875; }
    .contact form input[type="submit"] {
      width: 480px;
      padding: 15px;
      margin: 15px 0;
      background-color: #6ECF7B;
      border: none;
      border-radius: 2px;
      font-family: "Open Sans";
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      font-size: 0.875rem;
      -webkit-transition: 0.1s ease;
      transition: 0.1s ease; }
    .contact form input[type="submit"]:hover {
      background-color: #4e9b56;
      -webkit-transition: 0.1s ease;
      transition: 0.1s ease; }
