@charset "UTF-8";
/**************IMPORTS**************/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  SCRUMBE COLORS  */
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("/assets/fonts/proximanova-regular-webfont.eot");
  src: url("/assets/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanova-regular-webfont.woff") format("woff"), url("/assets/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("/assets/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("/assets/fonts/proximanova-bold-webfont.eot");
  src: url("/assets/fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanova-bold-webfont.woff") format("woff"), url("/assets/fonts/proximanova-bold-webfont.ttf") format("truetype"), url("/assets/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novalight';
  src: url("/assets/fonts/proximanova-light-webfont.eot");
  src: url("/assets/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanova-light-webfont.woff") format("woff"), url("/assets/fonts/proximanova-light-webfont.ttf") format("truetype"), url("/assets/fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedSBd';
  src: url("/assets/fonts/proximanovacond-semibold-webfont.eot");
  src: url("/assets/fonts/proximanovacond-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximanovacond-semibold-webfont.woff") format("woff"), url("/assets/fonts/proximanovacond-semibold-webfont.ttf") format("truetype"), url("/assets/fonts/proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

.wrapper {
  position: relative;
  margin: 0 auto;
  text-align: center; }

.btn {
  color: #fff;
  border-radius: 2px;
  padding: 10px 20px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative; }
  .btn.violet {
    background-color: #28CEE0; }
    .btn.violet:hover {
      color: #fff;
      background-color: #1babba; }
  .btn.rounded {
    border-radius: 50px; }

.nav-landing {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 10;
  text-align: center; }
  .nav-landing ul {
    padding: 0 20px; }
    .nav-landing ul li {
      position: relative;
      line-height: 80px;
      cursor: default;
      overflow: hidden;
      display: inline-block;
      margin: 0 15px; }
      .nav-landing ul li a, .nav-landing ul li span {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.6875rem;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-transition: .2s ease;
        transition: .2s ease;
        padding: 5px 10px; }
        .nav-landing ul li a:hover, .nav-landing ul li span:hover {
          color: #28CEE0; }
        .nav-landing ul li a img, .nav-landing ul li span img {
          vertical-align: middle;
          height: 40px; }
      .nav-landing ul li.logo {
        float: left; }
      .nav-landing ul li.sign-in-btn {
        float: right; }
  .nav-landing.sticki-nav {
    background-color: #121a1f; }

footer {
  width: 100%;
  background-color: #121a1f;
  height: 80px; }
  footer .wrapper-nav {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    text-align: right; }
    footer .wrapper-nav li {
      position: relative;
      line-height: 80px;
      cursor: default; }
      footer .wrapper-nav li a {
        font-family: 'proxima_nova_rgbold', sans-serif;
        font-size: 0.6875rem;
        color: #b1bad0;
        text-decoration: none;
        vertical-align: middle;
        margin-left: 35px;
        padding: 10px 0; }
        footer .wrapper-nav li a img {
          vertical-align: middle;
          height: 40px; }
      footer .wrapper-nav li a:hover {
        color: #fff; }
      footer .wrapper-nav li .copyright {
        font-size: 0.75rem;
        font-family: "proxima_nova_rgbold", sans-serif;
        color: #B1BAD0;
        text-align: left;
        position: absolute;
        left: 0; }
      footer .wrapper-nav li span:nth-child(6) {
        font-family: 'proxima_nova_rgbold', sans-serif;
        font-size: 0.6875rem;
        color: #b1bad0;
        text-decoration: none;
        vertical-align: middle;
        margin-left: 35px;
        padding: 10px 0;
        position: relative;
        right: 0;
        cursor: pointer; }
      footer .wrapper-nav li span:nth-child(6):hover {
        color: #fff; }

.modal-sign {
  line-height: 699px;
  height: 100%; }
  .modal-sign .sign-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    z-index: 19;
    display: none;
    line-height: 699px; }
  .modal-sign .sign-in {
    position: fixed;
    top: 50%;
    margin-top: -195px;
    left: 50%;
    margin-left: -210px;
    z-index: 20;
    text-align: center;
    display: none;
    background-color: #fff;
    width: 420px;
    border-radius: 4px;
    overflow: hidden;
    line-height: normal;
    font-family: "Open Sans", sans-serif; }
    .modal-sign .sign-in .header-sign-in {
      background-color: #161e25;
      padding: 20px 30px;
      text-align: left;
      position: relative; }
      .modal-sign .sign-in .header-sign-in span:first-child {
        font-weight: 700;
        font-size: 0.9375rem;
        color: #fff; }
      .modal-sign .sign-in .header-sign-in span:last-child {
        position: absolute;
        right: 30px;
        text-decoration: none;
        color: #cdcdcd;
        font-family: "Open Sans";
        font-size: 1.25rem;
        font-weight: 800;
        cursor: pointer; }
    .modal-sign .sign-in .contain-sign-in {
      padding: 30px;
      text-align: left; }
      .modal-sign .sign-in .contain-sign-in form input:not([type="submit"]) {
        display: block;
        margin-bottom: 15px;
        width: 91.3%;
        padding: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border-radius: 2px;
        border: 1px solid #e8ebf0;
        background-color: #FBFCFE; }
      .modal-sign .sign-in .contain-sign-in form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #28CEE0;
        border: none;
        border-radius: 2px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .modal-sign .sign-in .contain-sign-in form input[type="submit"]:hover {
        background-color: #28CEE0;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .modal-sign .sign-in .contain-sign-in a {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 0.6875rem; }
    .modal-sign .sign-in .footer-sign-in {
      background-color: #f0f4fc;
      padding: 20px 30px;
      text-align: left; }
      .modal-sign .sign-in .footer-sign-in span {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 0.6875rem; }
      .modal-sign .sign-in .footer-sign-in .sign-up-lk {
        color: #28CEE0;
        text-decoration: none;
        cursor: pointer; }
  .modal-sign .sign-up {
    position: fixed;
    top: 50%;
    margin-top: -225px;
    left: 50%;
    margin-left: -210px;
    z-index: 20;
    text-align: center;
    display: none;
    background-color: #fff;
    width: 420px;
    border-radius: 4px;
    overflow: hidden;
    line-height: normal;
    font-family: "Open Sans", sans-serif; }
    .modal-sign .sign-up .header-sign-up {
      background-color: #161e25;
      padding: 20px 30px;
      text-align: left;
      position: relative; }
      .modal-sign .sign-up .header-sign-up span:first-child {
        font-weight: 700;
        font-size: 0.9375rem;
        color: #fff; }
      .modal-sign .sign-up .header-sign-up span:last-child {
        position: absolute;
        right: 30px;
        text-decoration: none;
        color: #cdcdcd;
        font-family: "Open Sans", sans-serif;
        font-size: 1.25rem;
        font-weight: 800;
        cursor: pointer; }
    .modal-sign .sign-up .contain-sign-up {
      padding: 30px;
      text-align: left; }
      .modal-sign .sign-up .contain-sign-up form input:not([type="submit"]) {
        display: block;
        margin-bottom: 15px;
        width: 91.3%;
        padding: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border-radius: 2px;
        border: 1px solid #e8ebf0;
        background-color: #FBFCFE; }
      .modal-sign .sign-up .contain-sign-up form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #28CEE0;
        border: none;
        border-radius: 2px;
        font-family: "Open Sans",sans-serif;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .modal-sign .sign-up .contain-sign-up form input[type="submit"]:hover {
        background-color: #28CEE0;
        -webkit-transition: 0.1s ease;
        transition: 0.1s ease; }
      .modal-sign .sign-up .contain-sign-up span {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 0.6875rem; }
      .modal-sign .sign-up .contain-sign-up .sign-in-lk {
        text-decoration: none;
        color: #28CEE0;
        cursor: pointer; }
    .modal-sign .sign-up .footer-sign-up {
      background-color: #f0f4fc;
      padding: 20px 30px;
      text-align: left; }
      .modal-sign .sign-up .footer-sign-up span {
        text-decoration: none;
        color: #a8b5c4;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 0.6875rem; }
        .modal-sign .sign-up .footer-sign-up span a {
          color: inherit; }

.header-home {
  width: 100%;
  position: relative;
  z-index: 5;
  background: url("../img/back-home.jpg");
  -webkit-background-size: cover;
  background-size: cover; }
  .header-home .wrapper-header {
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    line-height: 699px;
    height: 699px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px; }
    .header-home .wrapper-header .contain-title {
      vertical-align: middle;
      display: inline-block;
      line-height: normal; }
      .header-home .wrapper-header .contain-title h1 {
        font-size: 2.625rem;
        font-weight: 300;
        line-height: normal; }
        .header-home .wrapper-header .contain-title h1 .openBold {
          font-weight: 700; }
      .header-home .wrapper-header .contain-title p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin: 20px auto;
        width: 70%;
        position: relative;
        color: #b1bad0; }
      .header-home .wrapper-header .contain-title .sign-up-btn {
        display: inline-block; }

.article-home {
  position: relative; }
  .article-home section {
    width: 100%;
    height: 350px;
    background-color: #f5f8f9;
    font-family: "Open Sans",sans-serif; }
    .article-home section .wrapper {
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      line-height: 350px; }
      .article-home section .wrapper .contain-article {
        vertical-align: middle;
        display: inline-block;
        line-height: normal; }
        .article-home section .wrapper .contain-article h2 {
          font-weight: 300;
          font-size: 1.5625rem;
          color: #6c7180; }
          .article-home section .wrapper .contain-article h2 .openBold {
            font-weight: 700; }
        .article-home section .wrapper .contain-article p {
          font-size: 0.8125rem;
          margin-top: 15px;
          width: 400px;
          line-height: 24px;
          color: #6c7180;
          font-family: "Open Sans";
          font-weight: 300; }
  .article-home .odd-section {
    background-color: #fff;
    text-align: right;
    height: 350px; }
    .article-home .odd-section p {
      right: 0; }
  .article-home .final-section {
    background: url("../img/section-footer.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover; }
    .article-home .final-section .wrapper {
      max-width: 960px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      line-height: 350px; }
      .article-home .final-section .wrapper .contain-final {
        vertical-align: middle;
        display: inline-block;
        line-height: normal;
        text-align: center;
        margin: 0 auto; }
        .article-home .final-section .wrapper .contain-final h2 {
          font-weight: 300;
          font-size: 2.1875rem;
          color: #fff; }
          .article-home .final-section .wrapper .contain-final h2 .openBold {
            font-weight: 700; }
        .article-home .final-section .wrapper .contain-final p {
          color: #fff;
          font-size: 0.8125rem;
          margin: 15px 0 40px 0;
          width: 600px;
          line-height: 20px; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.header-about {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 5; }
  .header-about .wrapper-header-fix {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: "proxima_novalight";
    color: #fff;
    line-height: 580px;
    height: 500px; }
    .header-about .wrapper-header-fix .contain-title-fix {
      vertical-align: middle;
      display: inline-block; }
      .header-about .wrapper-header-fix .contain-title-fix h1 {
        font-size: 2.3125rem;
        font-weight: 300;
        line-height: normal;
        color: #6c7180; }
        .header-about .wrapper-header-fix .contain-title-fix h1 .openBold {
          font-family: "proxima_nova_rgbold"; }
      .header-about .wrapper-header-fix .contain-title-fix p {
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 28px;
        margin: 20px auto 0 auto;
        width: 60%;
        position: relative;
        color: #636875; }

.article-about {
  position: relative; }
  .article-about .odd-section {
    background-color: #f5f8f9;
    width: 100%;
    height: 450px; }
    .article-about .odd-section .wrapper-section {
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      line-height: 450px;
      color: #6c7180;
      font-family: "Open Sans";
      font-weight: 300; }
      .article-about .odd-section .wrapper-section .contain-info {
        vertical-align: middle;
        display: inline-block;
        line-height: normal; }
        .article-about .odd-section .wrapper-section .contain-info h2 {
          font-size: 2.125rem; }
          .article-about .odd-section .wrapper-section .contain-info h2 .openBold {
            font-weight: 700; }
        .article-about .odd-section .wrapper-section .contain-info h3 {
          font-size: 1.0625rem;
          color: #5cad66;
          margin-top: 5px; }
        .article-about .odd-section .wrapper-section .contain-info p {
          line-height: 24px;
          font-size: 0.8125rem;
          width: 470px; }
        .article-about .odd-section .wrapper-section .contain-info .divider {
          width: 50px;
          height: 1px;
          background: #5cad66;
          margin: 20px 0 17px 0; }
      .article-about .odd-section .wrapper-section img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 400px; }
  .article-about .section {
    background-color: #fff;
    width: 100%;
    height: 450px; }
    .article-about .section .wrapper {
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      line-height: 450px;
      color: #6c7180;
      font-family: "Open Sans",sans-serif;
      font-weight: 300;
      text-align: right; }
      .article-about .section .wrapper .contain-info {
        vertical-align: middle;
        display: inline-block;
        line-height: normal; }
        .article-about .section .wrapper .contain-info h2 {
          font-size: 2.125rem; }
          .article-about .section .wrapper .contain-info h2 .openBold {
            font-weight: 700; }
        .article-about .section .wrapper .contain-info h3 {
          font-size: 1.0625rem;
          color: #5cad66;
          margin-top: 5px; }
        .article-about .section .wrapper .contain-info p {
          line-height: 24px;
          font-size: 0.8125rem;
          width: 470px; }
        .article-about .section .wrapper .contain-info .divider {
          width: 50px;
          height: 1px;
          background: #5cad66;
          margin: 20px 0 10px 0;
          display: inline-block; }
      .article-about .section .wrapper img {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 400px; }

.contact {
  text-align: center;
  background-color: #121a1f;
  padding-bottom: 90px; }
  .contact h1 {
    font-family: "proxima_nova_rgbold";
    font-size: 2.5rem;
    color: #fff;
    padding-top: 116px; }
  .contact p {
    color: #636875;
    font-size: 0.875rem;
    font-family: "Open Sans";
    font-weight: 300;
    width: 620px;
    line-height: 30px;
    margin: 25px auto; }
  .contact form {
    width: 700px;
    margin: 0 auto; }
    .contact form input:not([type="submit"]), .contact form textarea {
      display: block;
      margin: 15px auto;
      width: 450px;
      padding: 15px;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      border-radius: 2px;
      border: 1px solid #636875;
      background-color: #121a1f;
      font-size: 0.875rem;
      font-family: "Open Sans";
      font-weight: 300;
      color: #fff; }
    .contact form input:not([type="submit"]):focus, .contact form textarea:focus {
      border: 1px solid #fff; }
    .contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
      color: #636875; }
    .contact form input.placeholder, .contact form textarea.placeholder {
      color: #636875; }
    .contact form input[type="submit"] {
      width: 480px;
      padding: 15px;
      margin: 15px 0;
      background-color: #6ECF7B;
      border: none;
      border-radius: 2px;
      font-family: "Open Sans";
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      font-size: 0.875rem;
      -webkit-transition: 0.1s ease;
      transition: 0.1s ease; }
    .contact form input[type="submit"]:hover {
      background-color: #4e9b56;
      -webkit-transition: 0.1s ease;
      transition: 0.1s ease; }

.header-scrum {
  width: 100%;
  height: 450px;
  position: relative;
  z-index: 5;
  background-color: #fff; }
  .header-scrum .wrapper {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: "proxima_novalight";
    color: #fff;
    line-height: 550px;
    height: 450px; }
    .header-scrum .wrapper .contain-title-fix {
      vertical-align: middle;
      display: inline-block; }
      .header-scrum .wrapper .contain-title-fix h1 {
        font-size: 2.3125rem;
        font-weight: 300;
        line-height: normal;
        color: #6c7180; }
        .header-scrum .wrapper .contain-title-fix h1 .openBold {
          font-family: "proxima_nova_rgbold"; }
      .header-scrum .wrapper .contain-title-fix p {
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 28px;
        margin: 20px auto 0 auto;
        width: 60%;
        position: relative;
        color: #636875; }

.article-scrum {
  position: relative;
  width: 100%;
  font-family: "Open Sans",sans-serif; }
  .article-scrum .wrapper {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0; }
  .article-scrum .item-scrum {
    background-color: #f5f8f9; }
    .article-scrum .item-scrum li {
      text-align: center;
      width: 26%;
      display: inline-block;
      font-family: "Open Sans";
      margin: 0 25px 25px 25px; }
      .article-scrum .item-scrum li img {
        width: 50px; }
      .article-scrum .item-scrum li h2 {
        font-size: 1.25rem;
        color: #6c7180;
        font-weight: 700;
        margin: 15px 0; }
        .article-scrum .item-scrum li h2 .green {
          color: #5cad66; }
      .article-scrum .item-scrum li p {
        font-size: 0.6875rem;
        font-weight: 300;
        line-height: 17px;
        color: #636875; }
  .article-scrum .text1-scrum {
    background-color: #fff; }
    .article-scrum .text1-scrum h1 {
      font-size: 2.3125rem;
      color: #6c7180;
      font-family: "proxima_nova_rgregular"; }
      .article-scrum .text1-scrum h1 .openBold {
        font-family: "proxima_nova_rgbold"; }
    .article-scrum .text1-scrum p {
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 28px;
      margin: 20px auto 0 auto;
      width: 60%;
      position: relative;
      color: #636875;
      text-align: justify; }
  .article-scrum .text2-scrum {
    background-color: #f5f8f9; }
    .article-scrum .text2-scrum h1 {
      font-size: 2.3125rem;
      color: #6c7180;
      font-family: "proxima_nova_rgregular"; }
      .article-scrum .text2-scrum h1 .openBold {
        font-family: "proxima_nova_rgbold"; }
    .article-scrum .text2-scrum p {
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 28px;
      margin: 20px auto 0 auto;
      width: 60%;
      position: relative;
      color: #636875;
      text-align: justify; }

.project {
  background-color: #F6F7F9; }

.nav-projects {
  height: 60px;
  width: 100%;
  background-color: #182740;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; }
  .nav-projects .left-nav {
    margin-left: 40px;
    float: left; }
    .nav-projects .left-nav li {
      display: inline-block;
      vertical-align: middle;
      line-height: 60px;
      margin-right: 20px; }
      .nav-projects .left-nav li a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 0.625rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        padding: 5px; }
        .nav-projects .left-nav li a:hover {
          color: #28CEE0; }
        .nav-projects .left-nav li a img {
          display: inline-block;
          vertical-align: middle; }
      .nav-projects .left-nav li.logo {
        height: inherit; }
        .nav-projects .left-nav li.logo img {
          height: 30px; }
  .nav-projects .right-nav {
    margin-right: 40px;
    float: right;
    height: inherit; }
    .nav-projects .right-nav li {
      display: inline-block;
      vertical-align: middle;
      line-height: 60px;
      margin-right: 20px;
      height: inherit; }
      .nav-projects .right-nav li:last-child {
        margin-right: 0; }
      .nav-projects .right-nav li > img {
        display: inline-block;
        vertical-align: middle; }
      .nav-projects .right-nav li .avatar-ctn {
        border-radius: 50%;
        height: 60%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px; }
        .nav-projects .right-nav li .avatar-ctn img {
          height: 100%; }
      .nav-projects .right-nav li .notif-ctn {
        position: relative;
        margin-top: 5px; }
        .nav-projects .right-nav li .notif-ctn .notif-count {
          position: absolute;
          top: 9px;
          right: -6px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          color: #fff;
          background-color: #EF5361;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          text-align: center;
          font-size: 0.5rem;
          border: 2px solid #182740;
          line-height: normal; }

.sub-nav-projects {
  background-color: #fff;
  height: 70px;
  border-bottom: 1px solid #E6EAEE;
  clear: both;
  line-height: 70px;
  position: fixed;
  width: 100%;
  top: 60px;
  z-index: 50; }
  .sub-nav-projects > .title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #7F8CA6;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px; }
  .sub-nav-projects .sort-by {
    float: right;
    margin-right: 100px; }
    .sub-nav-projects .sort-by .title {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 0.8125rem;
      color: #7F8CA6;
      margin-right: 10px; }
    .sub-nav-projects .sort-by.hide {
      display: none; }
  .sub-nav-projects .add-project {
    position: absolute;
    right: 40px;
    bottom: -47px;
    height: inherit;
    display: block; }
    .sub-nav-projects .add-project img {
      height: 50%; }
    .sub-nav-projects .add-project.hide {
      display: none; }
  .sub-nav-projects .sub-nav {
    display: inline-block; }
    .sub-nav-projects .sub-nav li {
      display: inline-block;
      margin-right: 15px; }
      .sub-nav-projects .sub-nav li.active a, .sub-nav-projects .sub-nav li:hover a {
        color: #28CEE0; }
      .sub-nav-projects .sub-nav li a {
        padding: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
        font-size: 0.8125rem;
        font-weight: 300;
        color: #7F8CA6;
        text-decoration: none; }
  .sub-nav-projects .divider {
    width: 1px;
    height: 40%;
    background-color: #E7EAEE;
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px; }
  .sub-nav-projects .members {
    height: 70px;
    margin-right: 20px; }
    .sub-nav-projects .members.right {
      float: right; }
    .sub-nav-projects .members ul {
      display: inline-block; }
      .sub-nav-projects .members ul li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
        height: 45%;
        position: relative; }
        .sub-nav-projects .members ul li.add-member {
          height: 27px;
          width: 27px;
          line-height: normal;
          overflow: hidden;
          border-radius: 50%;
          border: 1px dashed #7F8CA6;
          text-align: center; }
          .sub-nav-projects .members ul li.add-member a {
            text-decoration: none;
            color: #7F8CA6;
            line-height: 26px;
            display: block; }
        .sub-nav-projects .members ul li .avatar-ctn {
          height: 27px;
          width: 27px;
          line-height: normal;
          overflow: hidden;
          border-radius: 50%; }
          .sub-nav-projects .members ul li .avatar-ctn img {
            width: 100%; }
        .sub-nav-projects .members ul li .connect {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          border: 2px solid #fff;
          display: block;
          position: absolute;
          top: -1px;
          right: -2px; }
          .sub-nav-projects .members ul li .connect.here {
            background-color: #41CF75; }
          .sub-nav-projects .members ul li .connect.innactive {
            background-color: #ffab35; }
          .sub-nav-projects .members ul li .connect.disconnect {
            background-color: #cf2f29; }

.projects-list {
  padding: 190px 60px 60px 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 10; }
  .projects-list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .projects-list li .head-ctn {
      width: 300px;
      height: 170px;
      overflow: hidden;
      position: absolute; }
      .projects-list li .head-ctn .option-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        cursor: pointer; }
      .projects-list li .head-ctn .upload-cover {
        position: absolute;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px dashed #fff;
        left: 50%;
        margin-left: -67px;
        top: 50%;
        margin-top: -19px; }
      .projects-list li .head-ctn .cover {
        width: 100%; }
      .projects-list li .head-ctn .option-ctn {
        background-color: rgba(24, 39, 64, 0.9);
        position: absolute;
        top: 10px;
        left: 0;
        height: 100%;
        width: 100%;
        display: none; }
        .projects-list li .head-ctn .option-ctn .close-opt-btn {
          position: absolute;
          top: 10px;
          right: 10px;
          display: block;
          cursor: pointer; }
        .projects-list li .head-ctn .option-ctn .edit-btn {
          position: absolute;
          top: 50%;
          left: 35%;
          margin-left: -26px;
          margin-top: -26px;
          display: block;
          cursor: pointer; }
          .projects-list li .head-ctn .option-ctn .edit-btn img {
            -webkit-transition: .1s ease;
            transition: .1s ease; }
          .projects-list li .head-ctn .option-ctn .edit-btn:hover img {
            -webkit-transform: rotateZ(-10deg);
            -ms-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg); }
        .projects-list li .head-ctn .option-ctn .delete-btn {
          position: absolute;
          top: 50%;
          right: 35%;
          margin-right: -26px;
          margin-top: -26px;
          display: block;
          cursor: pointer; }
          .projects-list li .head-ctn .option-ctn .delete-btn img {
            -webkit-transition: .1s ease;
            transition: .1s ease; }
          .projects-list li .head-ctn .option-ctn .delete-btn:hover img {
            -webkit-transform: rotateZ(-10deg);
            -ms-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg); }
    .projects-list li .info-ctn {
      width: 300px;
      height: 367px;
      border: 1px solid #E6EAEE;
      border-radius: 4px;
      background-color: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center; }
      .projects-list li .info-ctn h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        margin-top: 200px;
        margin-bottom: 10px; }
      .projects-list li .info-ctn .update {
        font-family: "Open Sans", sans-serif;
        font-size: 0.8125rem;
        font-weight: 300;
        color: #7F8CA6;
        margin-bottom: 25px; }
        .projects-list li .info-ctn .update .date {
          font-weight: 400; }
      .projects-list li .info-ctn .divider {
        width: 80px;
        height: 1px;
        background-color: #E6EAEE;
        display: block;
        margin: 0 auto 25px auto; }
      .projects-list li .info-ctn .go-to-btn {
        vertical-align: middle;
        display: inline-block;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 0.8125rem;
        font-weight: 600;
        padding: 12px 15px;
        border-radius: 50px;
        text-decoration: none;
        background-color: #28CEE0; }
  .projects-list .new-project {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .projects-list .new-project .head-ctn {
      width: 300px;
      height: 170px;
      overflow: hidden;
      position: absolute;
      background: #28cee0;
      z-index: 10;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28cee0), color-stop(100%, #8df3ff));
      background: -webkit-linear-gradient(top, #28cee0 0%, #8df3ff 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(#28cee0), to(#8df3ff));
      background: linear-gradient(to bottom, #28cee0 0%, #8df3ff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28cee0', endColorstr='#8df3ff',GradientType=0 ); }
      .projects-list .new-project .head-ctn .upload-cover {
        position: absolute;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px dashed #fff;
        left: 50%;
        margin-left: -67px;
        top: 50%;
        margin-top: -19px; }
      .projects-list .new-project .head-ctn .cover {
        width: 100%; }
    .projects-list .new-project .info-ctn {
      width: 300px;
      height: 367px;
      border: 1px solid #E6EAEE;
      border-radius: 4px;
      background-color: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      position: relative; }
      .projects-list .new-project .info-ctn input[type=text] {
        margin-top: 193px;
        font-family: "Open Sans", sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        outline: none;
        border: none; }
        .projects-list .new-project .info-ctn input[type=text]:hover:before {
          content: "edit";
          position: absolute;
          left: -10px;
          top: 0;
          display: block; }
      .projects-list .new-project .info-ctn .btn-ctn {
        position: absolute;
        bottom: 25px;
        left: 50%;
        margin-left: -84px; }
        .projects-list .new-project .info-ctn .btn-ctn .cancel-projet-btn {
          vertical-align: middle;
          display: inline-block;
          color: #858585;
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 600;
          padding: 6px 15px;
          border-radius: 50px;
          text-decoration: none;
          border: none;
          cursor: pointer;
          margin-right: 10px; }
        .projects-list .new-project .info-ctn .btn-ctn .valid-project-btn {
          vertical-align: middle;
          display: inline-block;
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 600;
          padding: 6px 15px;
          border-radius: 50px;
          text-decoration: none;
          background-color: #7ABE6F;
          border: none;
          cursor: pointer; }

.kanban {
  margin-top: 130px; }
  .kanban .user-stories {
    width: 25%;
    float: left;
    height: 1000px;
    display: block;
    border-right: 1px solid #E6EAEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .kanban .user-stories .header-col {
      color: #28CEE0;
      width: 25%;
      background-color: #ffffff;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: 0.75rem;
      font-weight: 700;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #E6EAEE;
      position: fixed;
      z-index: 4;
      border-right: 1px solid #E6EAEE;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1); }
    .kanban .user-stories .user-stories-list {
      margin-top: 53px; }
      .kanban .user-stories .user-stories-list > li {
        background-color: white;
        padding: 10px 15px 16px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #E6EAEE;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .kanban .user-stories .user-stories-list > li .head {
          min-height: 25px;
          margin-bottom: 5px; }
          .kanban .user-stories .user-stories-list > li .head .label li {
            font-family: "Open Sans", sans-serif;
            font-size: 0.5rem;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 3px 6px;
            display: inline-block;
            border-radius: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            background-color: #FF6562;
            text-transform: uppercase;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
          .kanban .user-stories .user-stories-list > li .head .difficulty {
            color: #7F8CA6;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 0.8125rem;
            width: 23px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            border: 1px solid #7F8CA6;
            border-radius: 50px;
            position: absolute;
            top: 10px;
            right: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .user-stories .user-stories-list > li .content {
          margin-bottom: 10px; }
          .kanban .user-stories .user-stories-list > li .content p {
            font-family: "Open Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            color: #182740;
            line-height: 17px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .user-stories .user-stories-list > li .footer .task-ctn img {
          width: 10px;
          display: inline-block;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        .kanban .user-stories .user-stories-list > li .footer .task-ctn .task-done {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .kanban .user-stories .user-stories-list > li .footer .task-ctn .task-done:after {
            content: " /"; }
        .kanban .user-stories .user-stories-list > li .footer .task-ctn .all-task {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle; }
          .kanban .user-stories .user-stories-list > li .footer .task-ctn .all-task:after {
            content: " Tâches"; }
        .kanban .user-stories .user-stories-list > li .footer .member-list {
          position: absolute;
          bottom: 10px;
          right: 15px; }
          .kanban .user-stories .user-stories-list > li .footer .member-list li {
            width: 23px;
            height: 23px;
            display: inline-block;
            margin-right: 3px;
            border-radius: 50%;
            overflow: hidden; }
            .kanban .user-stories .user-stories-list > li .footer .member-list li img {
              width: 100%;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
  .kanban .to-do {
    width: 25%;
    float: left;
    height: 1000px;
    display: block;
    border-right: 1px solid #E6EAEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .kanban .to-do .header-col {
      color: #EECC6C;
      width: 25%;
      background-color: #ffffff;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: 0.75rem;
      font-weight: 700;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #E6EAEE;
      position: fixed;
      z-index: 3;
      border-right: 1px solid #E6EAEE;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1); }
    .kanban .to-do .to-do-list {
      margin-top: 53px; }
      .kanban .to-do .to-do-list > li {
        background-color: white;
        padding: 10px 15px 16px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #E6EAEE;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .kanban .to-do .to-do-list > li .head {
          min-height: 25px;
          margin-bottom: 5px; }
          .kanban .to-do .to-do-list > li .head .label li {
            font-family: "Open Sans", sans-serif;
            font-size: 0.5rem;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 3px 6px;
            display: inline-block;
            border-radius: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            background-color: #FF6562;
            text-transform: uppercase;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
          .kanban .to-do .to-do-list > li .head .difficulty {
            color: #7F8CA6;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 0.8125rem;
            width: 23px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            border: 1px solid #7F8CA6;
            border-radius: 50px;
            position: absolute;
            top: 10px;
            right: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .to-do .to-do-list > li .content {
          margin-bottom: 10px; }
          .kanban .to-do .to-do-list > li .content p {
            font-family: "Open Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            color: #182740;
            line-height: 17px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .to-do .to-do-list > li .footer .task-ctn img {
          width: 10px;
          display: inline-block;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        .kanban .to-do .to-do-list > li .footer .task-ctn .task-done {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .kanban .to-do .to-do-list > li .footer .task-ctn .task-done:after {
            content: " /"; }
        .kanban .to-do .to-do-list > li .footer .task-ctn .all-task {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle; }
          .kanban .to-do .to-do-list > li .footer .task-ctn .all-task:after {
            content: " Tâches"; }
        .kanban .to-do .to-do-list > li .footer .member-list {
          position: absolute;
          bottom: 10px;
          right: 15px; }
          .kanban .to-do .to-do-list > li .footer .member-list li {
            width: 23px;
            height: 23px;
            display: inline-block;
            margin-right: 3px;
            border-radius: 50%;
            overflow: hidden; }
            .kanban .to-do .to-do-list > li .footer .member-list li img {
              width: 100%;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
  .kanban .doing {
    width: 25%;
    float: left;
    height: 1000px;
    display: block;
    border-right: 1px solid #E6EAEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .kanban .doing .header-col {
      color: #41CF75;
      width: 25%;
      background-color: #ffffff;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: 0.75rem;
      font-weight: 700;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #E6EAEE;
      position: fixed;
      z-index: 2;
      border-right: 1px solid #E6EAEE;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1); }
    .kanban .doing .doing-list {
      margin-top: 53px; }
      .kanban .doing .doing-list > li {
        background-color: white;
        padding: 10px 15px 16px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #E6EAEE;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .kanban .doing .doing-list > li .head {
          min-height: 25px;
          margin-bottom: 5px; }
          .kanban .doing .doing-list > li .head .label li {
            font-family: "Open Sans", sans-serif;
            font-size: 0.5rem;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 3px 6px;
            display: inline-block;
            border-radius: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            background-color: #FF6562;
            text-transform: uppercase;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
          .kanban .doing .doing-list > li .head .difficulty {
            color: #7F8CA6;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 0.8125rem;
            width: 23px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            border: 1px solid #7F8CA6;
            border-radius: 50px;
            position: absolute;
            top: 10px;
            right: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .doing .doing-list > li .content {
          margin-bottom: 10px; }
          .kanban .doing .doing-list > li .content p {
            font-family: "Open Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            color: #182740;
            line-height: 17px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .doing .doing-list > li .footer .task-ctn img {
          width: 10px;
          display: inline-block;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        .kanban .doing .doing-list > li .footer .task-ctn .task-done {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .kanban .doing .doing-list > li .footer .task-ctn .task-done:after {
            content: " /"; }
        .kanban .doing .doing-list > li .footer .task-ctn .all-task {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle; }
          .kanban .doing .doing-list > li .footer .task-ctn .all-task:after {
            content: " Tâches"; }
        .kanban .doing .doing-list > li .footer .member-list {
          position: absolute;
          bottom: 10px;
          right: 15px; }
          .kanban .doing .doing-list > li .footer .member-list li {
            width: 23px;
            height: 23px;
            display: inline-block;
            margin-right: 3px;
            border-radius: 50%;
            overflow: hidden; }
            .kanban .doing .doing-list > li .footer .member-list li img {
              width: 100%;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
  .kanban .done {
    width: 25%;
    float: left;
    height: 1000px;
    display: block;
    border-right: 1px solid #E6EAEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .kanban .done .header-col {
      color: #FF6562;
      width: 25%;
      background-color: #ffffff;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: 0.75rem;
      font-weight: 700;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #E6EAEE;
      position: fixed;
      z-index: 1;
      border-right: 1px solid #E6EAEE;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1); }
    .kanban .done .done-list {
      margin-top: 53px; }
      .kanban .done .done-list > li {
        background-color: white;
        padding: 10px 15px 16px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #E6EAEE;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .kanban .done .done-list > li .head {
          min-height: 25px;
          margin-bottom: 5px; }
          .kanban .done .done-list > li .head .label li {
            font-family: "Open Sans", sans-serif;
            font-size: 0.5rem;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 3px 6px;
            display: inline-block;
            border-radius: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            background-color: #FF6562;
            text-transform: uppercase;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
          .kanban .done .done-list > li .head .difficulty {
            color: #7F8CA6;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 0.8125rem;
            width: 23px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            border: 1px solid #7F8CA6;
            border-radius: 50px;
            position: absolute;
            top: 10px;
            right: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .done .done-list > li .content {
          margin-bottom: 10px; }
          .kanban .done .done-list > li .content p {
            font-family: "Open Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            color: #182740;
            line-height: 17px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
        .kanban .done .done-list > li .footer .task-ctn img {
          width: 10px;
          display: inline-block;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        .kanban .done .done-list > li .footer .task-ctn .task-done {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .kanban .done .done-list > li .footer .task-ctn .task-done:after {
            content: " /"; }
        .kanban .done .done-list > li .footer .task-ctn .all-task {
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #7F8CA6;
          vertical-align: middle; }
          .kanban .done .done-list > li .footer .task-ctn .all-task:after {
            content: " Tâches"; }
        .kanban .done .done-list > li .footer .member-list {
          position: absolute;
          bottom: 10px;
          right: 15px; }
          .kanban .done .done-list > li .footer .member-list li {
            width: 23px;
            height: 23px;
            display: inline-block;
            margin-right: 3px;
            border-radius: 50%;
            overflow: hidden; }
            .kanban .done .done-list > li .footer .member-list li img {
              width: 100%;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
  .kanban .column {
    height: inherit; }

.drop-block {
  background-color: #E8E8E8 !important;
  display: block; }

/*# sourceMappingURL=app.css.map */
