/*  SCRUMBE COLORS  */

$body: #fff;

$back-nav : #121a1f;
$font-nav : #b1bad0;
$hover-nav: #fff;

$green-button: #6ecf7b;
$green-button-hover: #4e9b56;
$color-button: #fff;

$color-header: #fff;
$color-header-p: #b1bad0;

$background-section: #f5f8f9;
$background-section-odd: #fff;
$h2-section: #6c7180;
$p-section: #3d464d;

$h2-final-section: #fff;
$p-final-section: #fff;

$background-footer: #121a1f;
$a-footer: #b1bad0;
$a-hover-footer: #fff;
$copy-footer: #B1BAD0;
