/*  SCRUMBE COLORS  */

$body: #fff;
$blue: #28CEE0;

$back-nav : #121a1f;
$font-nav : #fff;
$hover-nav: #fff;

$violet: #9D7AE7;
$txt-button: #fff;

$color-header: #fff;
$color-header-p: #b1bad0;

$background-section: #f5f8f9;
$background-section-odd: #fff;
$h2-section: #6c7180;
$p-section: #3d464d;

$h2-final-section: #fff;
$p-final-section: #fff;

$background-footer: #121a1f;
$a-footer: #b1bad0;
$a-hover-footer: #fff;
$copy-footer: #B1BAD0;


// Color Project

$nav: #182740;
$nav-selected: #28CEE0;
