<!DOCTYPE html>
<html>
    <head>
        <title>Scrumbe - {% block title %}Home{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- start: CSS -->
        <link href="/assets/css/style.css" rel="stylesheet">
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements --><!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="assets/js/respond.min.js"></script><![endif]-->
        <!-- start: Favicon and Touch Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/ico/fav-icon144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/ico/fav-icon114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/ico/fav-icon72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/ico/fav-icon57.png">
        <link rel="shortcut icon" href="/assets/img/ico/fav-icon16.png">
        <!-- end: Favicon and Touch Icons -->
    </head>

    <body>

    </body>
</html>
