<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Scrumbe - {% block title %}Home{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- start: CSS -->
        <link href="assets/css/app.min.css" rel="stylesheet">
        <link href="assets/css/reset.min.css" rel="stylesheet">

        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements --><!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <script src="assets/js/libs/respond.js"></script>
                <script src="assets/js/libs/selectivizr.js"></script>

                <!-- start: Favicon and Touch Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/ico/fav-icon144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/ico/fav-icon114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/ico/fav-icon72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/ico/fav-icon57.png">
        <link rel="shortcut icon" href="/assets/img/ico/fav-icon16.png">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <nav>
            <div class="wrapper-nav">
                <ul>
                    <li>
                        <a href="#" class="pull-left">
                            <img src="assets/img/logo.svg">
                        </a>
                        <a href="#">FEATURES</a>
                        <a href="#">WHAT'S SCRUM ?</a>
                        <a href="#">ABOUT US</a>
                        <a href="#">PRICING</a>
                        <span class="sign-in-btn">SIGN IN</span>
                        <span class="button-green sign-up-btn">FREE TRIAL</span>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}
            <header class="header row clear">
                <div class="wrapper-header">
                    <div class="contain-title">
                        <h1><span class="openBold">Manage</span> and <span class="openBold">organize</span> your projects</h1>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,.</p>
                    </div>
                </div>
            </header>
            <article>
                <section>
                    <div class="wrapper-section">
                        <div class="contain-article">
                            <h2><span class="openBold">Smart</span> project management</h2>
                            <p>Maecenas sed diam eget risus varius blandit sit
                                amet non magna. Cras mattis consectetur purus sit
                                amet fermentum. Praesent commodo cursus
                                magna, vel scelerisque nisl consectetur et.</p>
                        </div>
                    </div>
                </section>
                <section class="odd-section">
                    <div class="wrapper-section">
                        <div class="contain-article">
                            <h2>An <span class="openBold">Easy-to-use</span> solution</h2>
                            <p>Maecenas sed diam eget risus varius blandit sit
                                amet non magna. Cras mattis consectetur purus sit
                                amet fermentum. Praesent commodo cursus
                                magna, vel scelerisque nisl consectetur et.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="wrapper-section">
                        <div class="contain-article">
                            <h2><span class="openBold">Beautiful</span> and <span class="openBold">ergonomic</span> interface</h2>
                            <p>Maecenas sed diam eget risus varius blandit sit
                                amet non magna. Cras mattis consectetur purus sit
                                amet fermentum. Praesent commodo cursus
                                magna, vel scelerisque nisl consectetur et.</p>
                        </div>
                    </div>
                </section>
                <section class="odd-section">
                    <div class="wrapper-section">
                        <div class="contain-article">
                            <h2><span class="openBold">Mutiple devices </span>access</h2>
                            <p>Maecenas sed diam eget risus varius blandit sit
                                amet non magna. Cras mattis consectetur purus sit
                                amet fermentum. Praesent commodo cursus
                                magna, vel scelerisque nisl consectetur et.</p>
                        </div>
                    </div>
                </section>
                <section class="final-section">
                    <div class="wrapper-final">
                        <div class="contain-final">
                            <h2>Give a <span class="openBold">free trial</span> now</h2>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
                            <a href="#" class="button-green">GET STARTED !</a>
                        </div>
                    </div>
                </section>
            </article>
        {% endblock %}
        <footer>
            <div class="wrapper-nav">
                <ul>
                    <li>
                        <span class="copyright">Scrumbe © 2013-2014 — All Rights Reserved</span>
                        <a href="#">FEATURES</a>
                        <a href="#">WHAT'S SCRUM ?</a>
                        <a href="#">ABOUT US</a>
                        <a href="#">PRICING</a>
                        <span class="signUp">SIGN UP</span>
                    </li>
                </ul>
            </div>
        </footer>
        <div class="sign-back"></div>
        <div class="sign-in">
            <div class="container-sign-in">
                <div class="header-sign-in">
                    <span>SIGN IN</span>
                    <span class="close-sign-in">X</span>
                </div>
                <div class="contain-sign-in">
                    <form action="#" method="post">
                        <input type="email" placeholder="Email" required="required" autofocus="autofocus">
                        <input type="password" placeholder="Password" required="required">
                        <input type="submit" value="SIGN IN">
                    </form>
                    <a href="#">Forgot your password?</a>
                </div>
                <div class="footer-sign-in">
                    <span>Don't have an account?</span> <span class="sign-up-lk">Get started</span>
                </div>
            </div>
        </div>
        <div class="sign-up">
            <div class="container-sign-up">
                <div class="header-sign-up">
                    <span>SIGN UP FOR FREE</span>
                    <span class="close-sign-up">X</span>
                </div>
                <div class="contain-sign-up">
                    <form action="#" method="post">
                        <input type="text" placeholder="Name" autofocus required>
                        <input type="email" placeholder="Email" required="required">
                        <input type="password" placeholder="Password" required="required">
                        <input type="submit" value="SIGN UP FOR FREE">
                    </form>
                    <span>Already have an account? </span><span class="sign-in-lk">Sign in.</span>
                </div>
                <div class="footer-sign-up">
                    <span>By signing up, you agree to our <a href="#">Terms of Use</a>, and <a href="#">Privacy Policy</a></span>
                </div>
            </div>
        </div>
        <script src="assets/js/script.js"></script>
    </body>
</html>


