<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Scrumbe - {% block title %}Home{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- start: CSS -->
        <link href="/assets/css/app.min.css" rel="stylesheet">

        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements --><!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="assets/js/libs/respond.js"></script>
            <script src="assets/js/libs/selectivizr.js"></script>

        <!-- start: Favicon and Touch Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/ico/fav-icon144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/ico/fav-icon114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/ico/fav-icon72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/ico/fav-icon57.png">
        <link rel="shortcut icon" href="/assets/img/ico/fav-icon16.png">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Montserrat:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body class="project">
    {% block nav %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <!--   SCRIPTS   -->
    <!--<script src="/assets/js/script.js"></script>-->
    <script src="/assets/js/libs/velocity.min.js"></script>
    <script src="/assets/js/libs/velocity.ui.min.js"></script>
    <script>
        // Open-Close option in projects page
        $(document).ready(function(){
            $('.option-btn').click(function() {
                $(this).parent().find('.option-ctn').velocity({
                    top: "0px",
                    opacity: 1
                },{
                    duration: 100,
                    display: "block"
                });
            });
            $('.close-opt-btn').click(function(){
                $(this).parent().parent().find('.option-ctn').velocity({
                    top: "10px",
                    opacity: 0
                },{
                    duration: 100,
                    display: "none"
                });
            });
        });
    </script>

    </body>
</html>