<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Scrumbe - {% block title %}Home{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- start: CSS -->
        <link href="/assets/css/app.min.css" rel="stylesheet">

        <script src="http://code.jquery.com/jquery-2.0.0.js"></script>
        <script>
            $(function() {
                $( ".column" ).sortable({
                    connectWith: ".column",
                    placeholder: "drop-block",
                    forcePlaceholderSize: true,
                    containment: "window",
                    cursor: "move",
                    update: function(event, ui) {
                        console.log(ui.item.context.parentElement.className);

                        var position = ui.item.index() + 1;
                        var id = ui.item[0].id;
                        var progress;

                        if (ui.item.context.parentElement.className == "doing-list column ui-sortable"){
                            progress = "wip";
                        }
                        else if (ui.item.context.parentElement.className == "to-do-list column ui-sortable"){
                            progress = "todo";
                        }
                        else {
                            progress = "done";
                        }

                        $.ajax({
                            url: "http://scrumbe.loc.com:8080/app_dev.php/tasks/"+id+"/kanban-position",
                            method: "PUT",
                            data: {
                                'position': position,
                                'progress': progress
                            }
                        }).done(function() {

                        });
                    }
                });
                $( ".column1" ).sortable({
                    connectWith: ".column1",
                    placeholder: "drop-block",
                    forcePlaceholderSize: true,
                    containment: "window",
                    cursor: "move",
                    update: function(event, ui) {
                        var position = ui.item.index() + 1;
                        var id = ui.item[0].id;
                        
                        console.log(position);

                        $.ajax({
                            url: "http://scrumbe.loc.com:8080/app_dev.php/user-stories/"+id+"/kanban-position",
                            method: "PUT",
                            data: {
                                'position': position
                            }
                        }).done(function() {

                        });
                    }
                });
            });
        </script>

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="assets/js/libs/respond.js"></script>
            <script src="assets/js/libs/selectivizr.js"></script>

        <!-- start: Favicon and Touch Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/ico/fav-icon144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/ico/fav-icon114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/ico/fav-icon72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/ico/fav-icon57.png">
        <link rel="shortcut icon" href="/assets/img/ico/fav-icon16.png">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <script src="/assets/js/libs/jquery-ui.min.js"></script>
    </head>
    <body class="project">
    {% block nav %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <!-- JS -->
    <script src="/assets/js/libs/velocity.min.js"></script>
    <script src="/assets/js/libs/velocity.ui.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js"></script>
    <script>
        // Open-Close option in projects page
        $(document).ready(function(){
            $('.option-btn').click(function() {
                $(this).parent().find('.option-ctn').velocity({
                    top: "0px",
                    opacity: 1
                },{
                    duration: 100,
                    display: "block"
                });
            });
            $('.close-opt-btn').click(function(){
                $(this).parent().parent().find('.option-ctn').velocity({
                    top: "10px",
                    opacity: 0
                },{
                    duration: 100,
                    display: "none"
                });
            });
        });
    </script>

    {#<!--   SCRIPTS   -->#}
    {% block script %}
    {% endblock %}

    </body>
</html>