<html>
    <head>
        <meta charset='UTF-8' />
    </head>
    <body>
        <p>http://scrumbe.loc.com:8080/app_dev.php/users/{{ id }}/confirm?token={{ validation_token }}</p>
    </body>
</html>